<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="1.1" package="AutoCompleteTextView.AutoCompleteTextView">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="27" />
	<application android:label="AutoCompleteTextView" android:icon="@drawable/icon" android:theme="@style/AppTheme"></application>
</manifest>