<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest"
         xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest"
         xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity Name="2707e729-33d3-4803-99c9-516202601c23"
            Publisher="CN=glenn"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="a2cf2362-633d-4d59-b708-6e9efd6e2019"
                    PhonePublisherId="9db6dfb8-7cd4-4889-9667-fdfe85a14df2"/>

  <Properties>
    <DisplayName>StoreCredentials.WindowsPhoneSL</DisplayName>
    <PublisherDisplayName>glenn</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
                 Executable="AGHost.exe"
                 EntryPoint="MainPage.xaml">
      <m3:VisualElements
          DisplayName="StoreCredentials.WindowsPhoneSL"
          Square150x150Logo="Assets\SquareTile150x150.png"
          Square44x44Logo="Assets\Logo.png"
          Description="StoreCredentials.WindowsPhoneSL"
          ForegroundText="light"
          BackgroundColor="#464646">
        <m3:DefaultTile Square71x71Logo="Assets\SquareTile71x71.png"/>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>

      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="AgHost.BackgroundTask">
          <BackgroundTasks>
          <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>

    </Application>
  </Applications>
  <Capabilities>
  </Capabilities>

  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>

</Package>